<form [formGroup]="formGroup">
    <div class="input_container">
        <div
            *ngIf="invariable_type === 'password' && showPassword" 
            class="eye_container">
            <i 
                *ngIf="type=='password'"
                class="fa fa-eye"
                (click)="togglePassword()"></i>
            <i 
                *ngIf="type=='text'"
                class="fa fa-eye-slash"
                (click)="togglePassword()"></i>
        </div>
        <input 
            [(ngModel)]="input_model"
            [type]="type"
            [placeholder]="placeholder"
            [formControlName]="formControlName"
            (keydown)="passwordStrength(input_model)">
    </div>
    <div 
    *ngIf="showPasswordStrength"
    class="password_strength_container">
    <ul>
        <li *ngFor="let i of password_strength"
            ></li>
    </ul>
</div>
</form>
