
<div [attr.formGroup]="settings.ComponentForm">
  <textarea class="orderrequesttextarea"
    [attr.formControlName]="settings.formControlName"
    name="name"
    rows="8"
    cols="80"
    [attr.maxlength]="maxlength()"
    [placeholder]="settings.placeholder"
    [required]="settings.required"
    (blur)="onBlur()"
    ></textarea>

  <div
      *ngIf="settings.maxlength!=0"
      class="limit_of_caratere"
      >
      {{settings.maxlength-used_caratere}}/<b>{{settings.maxlength}}</b>
  </div>
</div>
